.container {
}

.header {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.backToHome {
  margin: 3rem 0 0;
}

.main {
  display: flex;
  justify-content: center;
  div {
    max-width: var(--max-site-width);
  }
}
