.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.header {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.backToHome {
  margin: 3rem 0 0;
}

.mainContainer {
  flex-grow: 1;
}
.main {
  display: flex;
  justify-content: center;
  > div {
    max-width: var(--max-site-width);
    flex-grow: 1;
  }
  margin: 0 15px;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background-color: var(--bg-color);
  color: var(--highlight-color-extra-light);
  padding: 30px 0;
  > div {
    max-width: var(--max-site-width);
  }
  a {
    color: var(--highlight-color-extra-light);
  }
}
