.nav {
  padding: 0 15px;
  a {
    color: white;
    text-decoration: none;
  }
  width: 100%;
  max-width: var(--max-site-width);
}
.menu,
.submenu {
  list-style-type: none;
}
.logo {
  font-size: 20px;
  padding: 7.5px 10px 7.5px 0;
}
.item {
  padding: 10px;
}
.item.button {
  padding: 9px 5px;
}
.item:not(.button).hasSubmenu.submenuActive > a:hover,
.item.hasSubmenu.submenuActive > a:hover::after {
  color: var(--primary-color-dark);
  background-color: var(--highlight-color-light);
}
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.menu li a {
  display: block;
  padding: 15px 5px;
}
.menu li.subitem a {
  padding: 15px;
}
.toggle {
  order: 1;
  font-size: 20px;
}
.item.button {
  order: 2;
}
.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}
.active .item {
  display: block;
}

.submenu {
  display: none;
}
.submenuActive .submenu {
  display: block;
}
.hasSubmenu i {
  font-size: 12px;
}
.hasSubmenu > a::after {
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  content: "\f078";
  color: #fff;
  padding-left: 5px;
}
.subitem a {
  padding: 10px 15px;
  color: var(--primary-color-dark);
}
.submenuActive {
  background-color: #fff;
  border-radius: 3px;
}

/* Tablet menu */
.logo {
  flex: 1;
}
.item.button {
  width: auto;
  order: 1;
  display: block;
}
.toggle {
  flex: 1;
  text-align: right;
  order: 2;
}
/* Button up from tablet screen */
.menu li.button a {
  padding: 10px 15px;
  margin: 5px 0;
}
.button a {
  background: #fff;
  color: var(--primary-color-dark);
  border-radius: 20px;
}
@media all and (min-width: 700px) {
}

/* Desktop menu */
@media all and (min-width: 960px) {
  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
  }
  .logo {
    order: 0;
  }
  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }
  .button {
    order: 2;
  }
  .submenuActive .submenu {
    display: block;
    position: absolute;
    left: 0;
    top: 68px;
    background: #fff;
    z-index: 1;
    a {
      color: var(--primary-color-dark);
    }
  }
  .submenuActive > a,
  .submenuActive > a::after,
  .submenuActive > a:hover,
  .submenuActive > a:hover::after {
    color: var(--primary-color-dark);
    background-color: #fff !important;
  }
  .hasSubmenu .toggle {
    display: none;
  }
  .submenuActive {
    border-radius: 0;
  }
  .toggle {
    display: none;
  }
}
