.nav {
  padding: 0 15px;
  a {
    color: white;
    text-decoration: none;
  }
  width: 100%;
  max-width: var(--max-site-width);
}
.menu,
.submenu {
  list-style-type: none;
}
.logo a {
  font-size: 20px;
  display: flex !important;
  padding: 22px 0 !important;
  flex-direction: row;
  align-items: center;
  span {
    margin-right: 15px;
  }
}
.item {
  margin-top: 0px;
}
.item.button + .item.button {
  margin-left: 10px;
}
// .item:not(.button).hasSubmenu.submenuActive > a:hover,
// .item.hasSubmenu.submenuActive > a:hover::after {
//   color: var(--primary-color-dark);
//   background-color: var(--highlight-color-light);
// }
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  &.active {
    padding-bottom: 15px;
  }
}
.menu li a {
  display: block;
  padding: 25px 15px;
}
.menu li.subitem a {
  padding: 10px;
}
.subitem a {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.subitem a > * {
  flex: 1;
}
.toggle {
  order: 1;
  font-size: 20px;
}
.item.button {
  order: 2;
}
.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}
.active .item {
  display: block;
}

.submenu {
  display: none;
}
.submenuActive .submenu {
  display: block;
}
.hasSubmenu i {
  font-size: 12px;
}
.hasSubmenu > a::after {
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  content: "\f078";
  color: #fff;
  padding-left: 5px;
}
.subitem a {
  padding: 10px 25px;
  color: var(--primary-color-dark);
}
.submenuActive {
  background-color: #fff;
  border-radius: 3px;
}
.submenuActive > a,
.submenuActive > a::after,
.submenuActive > a:hover,
.submenuActive > a:hover::after {
  color: var(--primary-color-dark);
  background-color: #fff !important;
}

@media all and (min-width: 700px) {
  /* Tablet menu */
  .logo {
    flex: 1;
  }
  .item.button {
    width: auto;
    order: 1;
    display: block;
    margin: 10px 0;
  }
  .toggle {
    flex: 1;
    text-align: right;
    order: 2;
  }
  /* Button up from tablet screen */
  .menu li.button a {
    padding: 10px 15px;
    margin: 5px 0;
  }
  .button {
    a {
      background-color: #fff;
      color: var(--primary-color-dark);
      border-radius: 20px;
    }
    &.secondary {
      a {
        background-color: var(--bg-color);
        color: #fff;
        border: 2px #fff solid;
        padding: 8px 13px !important;
      }
    }
  }
}

/* Desktop menu */
@media all and (min-width: 960px) {
  // a button that's not a button preceeded by a button
  .button:not(.button ~ .button) {
    margin-left: 20px;
  }
  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
    &.active {
      padding-bottom: 0;
    }
  }
  .subitem a {
    justify-content: space-between;
  }
  .subitem a > * {
    flex: 0 1 auto;
  }
  .logo {
    order: 0;
  }
  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }
  .button {
    order: 2;
  }
  .submenuActive .submenu {
    display: block;
    position: absolute;
    left: 0;
    top: 74px;
    background-color: #f5f5f5;
    z-index: 4;
    white-space: nowrap;
    a {
      color: var(--primary-color-dark);
    }
    li:hover {
      background-color: var(--bg-color) !important;
      a {
        color: #fff;
      }
    }
  }
  .hasSubmenu .toggle {
    display: none;
  }
  .submenuActive {
    border-radius: 0;
  }
  .toggle {
    display: none;
  }
  .submenuActive {
    background-color: #f5f5f5;
  }
  .submenuActive > a,
  .submenuActive > a::after,
  .submenuActive > a:hover,
  .submenuActive > a:hover::after {
    color: var(--primary-color-dark);
    background-color: #f5f5f5 !important;
  }
}
