.cover {
  display: grid;
  background-color: #fff !important;
  grid-template-columns: [first-col] 100%;
  grid-template-rows: [first-row] 500px;
  height: 500px;
  div {
    grid-column-start: first-col;
    grid-row-start: first-row;
  }
}

.coverBackground {
  position: relative;
  height: 100%;
  width: 100%;
}
.coverLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  div {
    width: 220px;
    height: 220px;
    // padding-bottom: 20%;
    position: relative;
    top: -15%;
  }
}
.coverText {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  div {
    position: relative;
    top: 20%;
  }

  h1 {
    color: #333;
    background-color: rgb(255, 255, 255, 0.7);
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    border: solid transparent;
  }
}

// tiny devices make heading smaller to fit
@media all and (max-width: 399px) {
  .coverText {
    h1 {
      font-size: 28px;
    }
  }
}
