.cover {
  display: grid;
  background-color: #fff !important;
  grid-template-columns: [first-col] 100%;
  grid-template-rows: [first-row] 400px;
  height: 400px;
  div {
    grid-column-start: first-col;
    grid-row-start: first-row;
  }
}

.coverBackground {
  position: relative;
  height: 100%;
  width: 100%;
}
.coverLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  div {
    width: 220px;
    height: 220px;
    // padding-bottom: 20%;
    position: relative;
    top: -15%;
  }
}
.coverText {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  div {
    position: relative;
    top: 25%;
  }

  h1 {
    color: #333;
    background-color: rgb(255, 255, 255, 0.7);
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    border: solid transparent;
  }
}

.homeSections {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
  .homeQuickLinks {
    align-self: flex-start;
    flex-basis: 600px;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px 30px;
    margin-top: 50px;
    .featureBox {
      display: inline-block;
      width: 280px;
      height: 280px;
      color: #fff;
      position: relative;
      div.textContainer {
        text-align: center;
        padding-top: 50%;
      }
      span {
        z-index: 1;
        position: relative;
        padding: 10px;
        background-color: rgb(0, 0, 0, 0.3);
        font-size: 28px;
        border-radius: 5px;
      }
      img {
        border-radius: 15px;
      }
      &:visited,
      &:active {
        color: #fff;
      }
    }
  }
  .newsSection {
    flex-basis: 300px;
    min-width: 200px;
    flex-shrink: 1;
    flex-grow: 1;
    .shortNewsItem {
      margin-bottom: 40px;
      display: block;
      &:link,
      &:visited,
      &:active {
        color: var(--primary-color-dark);
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        margin-top: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .summary {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        margin-top: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      button {
        cursor: pointer;
        margin-top: 10px;
      }
    }
  }
}

// tiny devices make heading smaller to fit
@media all and (max-width: 399px) {
  .coverText {
    h1 {
      font-size: 28px;
    }
  }
}
