:root {
  --bg-color: #66786a;
  --primary-color-dark: #3a463c;
  --highlight-color: #fa9401;
  --highlight-color-light: #e0c59f;
  --highlight-color-extra-light: #f5ede2;
  --max-site-width: 1280px;
}
